body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('anniv1.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(123, 206, 231);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px 0 0 0; 
}

.gif_container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%; 
    transform: rotate(20deg);
    transform-origin: left;
}

.gif_containers {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%; 
}

